{% extends "base.html" %}
{% comment %}
###### FOR BASE TEMPLATE--
   base_three_col.html : layout is [ sidebar_left -- content -- sidebar_right ]
   base_two_col_right.html : layout is [ content -- sidebar_right ]
   base_two_col_left.html : layout is [ sidebar_left -- content ]
   base_one_col.html : layout is [ content ]
{% endcomment %}

{% block title %}Internal Server Error{% endblock %}

{% block usernav %}
<ul id="usernav">
	<li><a href="#">Login</a></li>
</ul><!-- id="usernav" -->
{% endblock %}



{% block pagetitle %}
<h1 class="pageheader">500: Internal Server Error</h1>
{% endblock %}

{% block content %}
<p>
We're sorry.  There's a server error and we're working on it.
</p>
{% endblock %}
