{% extends "base.html" %}
{% block content %}
{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="get" action="{{ wind_base }}login">
<input type="hidden" name="service" value="{{ wind_service }}" />
<input type="hidden" name="destination"
value="http://{{ site.domain }}/accounts/windlogin/?next={{ next }}" />
<p>If you have a Columbia UNI, you already have an account and can
login through WIND with it</p>
<input type="submit" value="Here" />
</form>
<p>otherwise: </p>
<form method="post" action=".">
<table>
<tr><td><label for="id_username">Username:</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">Password:</label></td><td>{{ form.password }}</td></tr>
</table>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
