Django==1.11.4
pytz==2017.2
httplib2==0.10.3
feedparser==5.2.1
Markdown==2.6.9
uuid==1.30
psycopg2==2.7.3.1
Pillow==3.4.2
versiontools==1.9.1
statsd==3.2.1
pep8==1.7.0
pyflakes==1.3.0
mccabe==0.5.2
enum34==1.1.6
configparser==3.5.0
pycodestyle==2.2.0
flake8==3.2.0
tornado==4.4.2
beautifulsoup4==4.5.1
cssselect==1.0.0
lxml==3.6.4
fuzzywuzzy==0.14.0
sure==1.4.0
traitlets==4.3.1  # ipython
ipython_genutils==0.1.0  # ipython
decorator==4.0.10  # ipython
ptyprocess==0.5.1  # ipython
pexpect==4.2.1  # ipython
pathlib2==2.1.0  # ipython
pickleshare==0.7.4  # ipython
simplegeneric==0.8.1  # ipython
path.py==8.2.1  # ipython
backports.shutil_get_terminal_size==1.0.0  # ipython
wcwidth==0.1.7  # ipython
prompt_toolkit==1.0.9  # ipython
pygments==2.1.3  # ipython
ipython==5.1.0
ipdb==0.10.1
rdflib==4.2.1
selenium==3.0.1
coverage==4.2
pyasn1==0.1.9
pyOpenSSL==16.2.0
ndg-httpsclient==0.4.2
requests==2.12.1
logilab-common==1.3.0
logilab-astng==0.24.3
astroid==1.4.8
pylint==1.6.4
six==1.10.0
factory_boy==2.7.0
python-ldap==2.4.28
sqlparse==0.2.2
boto==2.43.0
python-dateutil==2.6.0

djangowind==0.16.0
sorl==3.1
django-indexer==0.3.0
django-templatetag-sugar==1.0
django-paging==0.2.5
django-annoying==0.10.3
django-appconf==1.0.2
rcssmin==1.0.6  # django-compressor
rjsmin==1.0.12  # django-compressor
django-compressor==2.1
django-statsd-mozilla==0.3.16
raven==5.32.0
django-bootstrap3==7.1.0
django-bootstrap-form==3.2.1
django-debug-toolbar==1.6
django-waffle==0.11.1
django-jenkins==0.110.0
django-smoketest==1.1.0
django-extensions==1.7.4
django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-impersonate==1.0.1
django-registration-redux==1.4
django-treebeard==4.0.1
django-quizblock==1.2.2
django-pagetree==1.2.4
django-pageblocks==1.1.0
django-markwhat==1.5
gunicorn==19.6.0
django-infranil==1.1.0
django-flatblocks==0.9.3
django-storages-redux==1.3.2

wagtail==1.7
djangorestframework==3.5.3
Willow==0.4
django-modelcluster==2.0
django-taggit==0.21.3
Unidecode==0.04.19
html5lib==0.999999999

ccnmtlsettings==1.2.0
