recursive-include ccnmtldjango/template/ *
include *.md
include ccnmtldjango/template/Makefile_tmpl
include ccnmtldjango/template/virtualenv.py
include ccnmtldjango/template/bootstrap.py
include ccnmtldjango/template/requirements.txt
include ccnmtldjango/template/manage.py_tmpl
include ccnmtldjango/template/+package+/settings_production.py_tmpl
include ccnmtldjango/template/+package+/settings.py
include ccnmtldjango/template/+package+/urls.py_tmpl
include ccnmtldjango/template/+package+/__init__.py
include ccnmtldjango/template/+package+/settings_staging.py_tmpl
include ccnmtldjango/template/+package+/settings_shared.py_tmpl
include ccnmtldjango/template/+package+/templates/500.html
include ccnmtldjango/template/+package+/templates/404.html
include ccnmtldjango/template/+package+/templates/base.html_tmpl
include ccnmtldjango/template/+package+/templates/stats.html_tmpl
include ccnmtldjango/template/+package+/templates/flatpages/default.html
include ccnmtldjango/template/+package+/templates/impersonate/list_users.html
include ccnmtldjango/template/+package+/templates/main/index.html
include ccnmtldjango/template/+package+/templates/admin/login.html
include ccnmtldjango/template/+package+/templates/registration/registration_form.html
include ccnmtldjango/template/+package+/templates/registration/activate.html
include ccnmtldjango/template/+package+/templates/registration/password_reset_confirm.html
include ccnmtldjango/template/+package+/templates/registration/activation_email.txt
include ccnmtldjango/template/+package+/templates/registration/base_registration.html
include ccnmtldjango/template/+package+/templates/registration/password_reset_email.html
include ccnmtldjango/template/+package+/templates/registration/activation_email_subject.txt
include ccnmtldjango/template/+package+/templates/registration/password_change_done.html
include ccnmtldjango/template/+package+/templates/registration/password_change_form.html
include ccnmtldjango/template/+package+/templates/registration/password_reset_form.html
include ccnmtldjango/template/+package+/templates/registration/password_reset_complete.html
include ccnmtldjango/template/+package+/templates/registration/password_reset_done.html
include ccnmtldjango/template/+package+/templates/registration/registration_complete.html
include ccnmtldjango/template/+package+/templates/registration/login.html
include ccnmtldjango/template/+package+/templates/registration/activation_complete.html
include ccnmtldjango/template/+package+/templates/infranil/index.html
include ccnmtldjango/template/+package+/main/smoke.py
include ccnmtldjango/template/+package+/main/models.py
include ccnmtldjango/template/+package+/main/__init__.py
include ccnmtldjango/template/+package+/main/views.py
include ccnmtldjango/template/+package+/main/tests/test_models.py
include ccnmtldjango/template/+package+/main/tests/test_views.py
include ccnmtldjango/template/+package+/main/tests/__init__.py
include ccnmtldjango/template/media/favicon.ico
include ccnmtldjango/template/media/robots.txt
include ccnmtldjango/template/media/bootstrap/fonts/glyphicons-halflings-regular.woff
include ccnmtldjango/template/media/bootstrap/fonts/glyphicons-halflings-regular.svg
include ccnmtldjango/template/media/bootstrap/fonts/glyphicons-halflings-regular.ttf
include ccnmtldjango/template/media/bootstrap/fonts/glyphicons-halflings-regular.eot
include ccnmtldjango/template/media/bootstrap/js/bootstrap.js
include ccnmtldjango/template/media/bootstrap/js/bootstrap.min.js
include ccnmtldjango/template/media/bootstrap/js/bootstrap-tab.js
include ccnmtldjango/template/media/bootstrap/css/bootstrap.css
include ccnmtldjango/template/media/bootstrap/css/bootstrap-theme.min.css
include ccnmtldjango/template/media/bootstrap/css/bootstrap-theme.css
include ccnmtldjango/template/media/bootstrap/css/bootstrap.min.css
include ccnmtldjango/template/media/bootstrap/css/bootstrap-glyphicons.css
include ccnmtldjango/template/media/bootstrap/css/bootstrap-responsive.min.css
include ccnmtldjango/template/media/bootstrap/css/bootstrap-responsive.css
include ccnmtldjango/template/media/bootstrap/ico/favicon.png
include ccnmtldjango/template/media/bootstrap/ico/apple-touch-icon-72-precomposed.png
include ccnmtldjango/template/media/bootstrap/ico/apple-touch-icon-57-precomposed.png
include ccnmtldjango/template/media/bootstrap/ico/apple-touch-icon-114-precomposed.png
include ccnmtldjango/template/media/bootstrap/ico/apple-touch-icon-144-precomposed.png
include ccnmtldjango/template/media/bootstrap/img/glyphicons-halflings-white.png
include ccnmtldjango/template/media/bootstrap/img/glyphicons-halflings.png
include ccnmtldjango/template/media/bootstrap/less/carousel.less
include ccnmtldjango/template/media/bootstrap/less/breadcrumbs.less
include ccnmtldjango/template/media/bootstrap/less/buttons.less
include ccnmtldjango/template/media/bootstrap/less/badges.less
include ccnmtldjango/template/media/bootstrap/less/close.less
include ccnmtldjango/template/media/bootstrap/less/pager.less
include ccnmtldjango/template/media/bootstrap/less/component-animations.less
include ccnmtldjango/template/media/bootstrap/less/alerts.less
include ccnmtldjango/template/media/bootstrap/less/modals.less
include ccnmtldjango/template/media/bootstrap/less/bootstrap.less
include ccnmtldjango/template/media/bootstrap/less/navbar.less
include ccnmtldjango/template/media/bootstrap/less/glyphicons.less
include ccnmtldjango/template/media/bootstrap/less/scaffolding.less
include ccnmtldjango/template/media/bootstrap/less/responsive-utilities.less
include ccnmtldjango/template/media/bootstrap/less/wells.less
include ccnmtldjango/template/media/bootstrap/less/utilities.less
include ccnmtldjango/template/media/bootstrap/less/media.less
include ccnmtldjango/template/media/bootstrap/less/button-groups.less
include ccnmtldjango/template/media/bootstrap/less/labels.less
include ccnmtldjango/template/media/bootstrap/less/grid.less
include ccnmtldjango/template/media/bootstrap/less/variables.less
include ccnmtldjango/template/media/bootstrap/less/theme.less
include ccnmtldjango/template/media/bootstrap/less/popovers.less
include ccnmtldjango/template/media/bootstrap/less/panels.less
include ccnmtldjango/template/media/bootstrap/less/jumbotron.less
include ccnmtldjango/template/media/bootstrap/less/print.less
include ccnmtldjango/template/media/bootstrap/less/progress-bars.less
include ccnmtldjango/template/media/bootstrap/less/pagination.less
include ccnmtldjango/template/media/bootstrap/less/normalize.less
include ccnmtldjango/template/media/bootstrap/less/dropdowns.less
include ccnmtldjango/template/media/bootstrap/less/mixins.less
include ccnmtldjango/template/media/bootstrap/less/tooltip.less
include ccnmtldjango/template/media/bootstrap/less/forms.less
include ccnmtldjango/template/media/bootstrap/less/type.less
include ccnmtldjango/template/media/bootstrap/less/navs.less
include ccnmtldjango/template/media/bootstrap/less/code.less
include ccnmtldjango/template/media/bootstrap/less/thumbnails.less
include ccnmtldjango/template/media/bootstrap/less/tables.less
include ccnmtldjango/template/media/bootstrap/less/input-groups.less
include ccnmtldjango/template/media/bootstrap/less/list-group.less
include ccnmtldjango/template/media/js/backbone-min.js
include ccnmtldjango/template/media/js/jquery-1.7.2.min.js
include ccnmtldjango/template/media/js/underscore-min.js
include ccnmtldjango/template/media/css/site.css
include ccnmtldjango/template/media/css/print.css
include ccnmtldjango/template/media/css/plain_header.css
include ccnmtldjango/template/media/css/main.css
include ccnmtldjango/template/media/img/favicon.ico
include ccnmtldjango/template/media/img/bullet_blue.gif
include ccnmtldjango/template/media/img/sadowl.jpg
include ccnmtldjango/template/media/img/logo_ccnmtl.gif
include ccnmtldjango/template/media/img/django_banner.gif
include ccnmtldjango/template/media/img/logo_project.jpg
include ccnmtldjango/template/media/img/bg_header.jpg
include ccnmtldjango/template/media/img/bullet.gif
include ccnmtldjango/template/media/img/logo_ccnmtl_sidebar.gif
include ccnmtldjango/template/apache/django.wsgi_tmpl
include ccnmtldjango/template/apache/staging.wsgi_tmpl
include ccnmtldjango/template/apache/sample.conf_tmpl
include ccnmtldjango/template/test_data/__init__.py
include ccnmtldjango/template/requirements/virtualenv_support/setuptools-0.9.7.tar.gz
include ccnmtldjango/template/requirements/virtualenv_support/pip-1.4.1.tar.gz
