{% extends "base.html" %}
{% load bootstrap %}
{% block content %}

<h2>Choose a Login Option...</h2>

<form method="get" action="{{ wind_base }}login" class="form well">
<input type="hidden" name="service" value="{{ wind_service }}" />
<input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/windlogin/?next={{ next }}" />
<p>If you have a Columbia University Network ID (UNI)... </p>
<input type="submit" value="LOG IN" class="btn btn-primary"/></p>
</form>

<form method="post" action="." class="form well">
<p>If you have a project account...</p>

<label for="id_username">{{ form.username|bootstrap }}</label>
<label for="id_password">{{ form.password|bootstrap }}</label>

<input type="submit" value="LOG IN" class="btn btn-primary" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>Otherwise, you may <a href="/registration/register/"
	class="btn btn-large btn-info add-box-shadow" id="signup">Sign up</a> for an account.</p>

{% endblock %}


