{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block registration_content %}
<h2 class="pagetitle signuptitle">Reset password</h2>

<div class="p">Forgot your password? Enter your email in the form below and you will receive instructions for creating a new one.</div>

<div class="password-reset">
<form method="post" action=".">
  {{ form.as_p }}
  <input class="reset-account btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
    {% csrf_token %}
</form>
</div>
{% endblock %}
