{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}Confirm password reset{% endblock %}
{% block registration_content %}

<h2 class="pagetitle signuptitle">Confirm password reset</h2>

{% if validlink %}

<div class="p">Enter your new password below to reset your password:</div>

<div class="password-reset">
<form method="post" action=".">
  {{ form.as_p }}

  <input class="reset-account btn btn-primary" type="submit" value="{% trans 'Reset password' %}" />
</form>
</div>
{% else %}

 <div class="p">It seems like the password confirmation link is incorrect. Please check your email and try again.</div>

{% endif %}

{% endblock %}
